{% extends 'user/category.html' %}
{% load static %}


{% block css_extra %}
<link rel="stylesheet" href="{% static 'css/core-style.css' %}">
{% endblock css_extra %}

{% block top_banner_data %}
{% endblock top_banner_data %}


{% block section_data %}

<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
            <div class="card-body w-75">

              <div class="row">
                <div class="col-sm-3">
                  <p class="mb-0">Username  :</p>
                </div>
                <div class="col-sm-9">
                  <p class="text-muted mb-0">{{user.username}}</p>
                </div>
              </div>
              <hr>
              {% if check_out %}
              <form action="{% url 'add_checkout_address' %}" method="post">
                {% csrf_token %}
              {% else %}
<form action="{% url 'add_account_address' %}" method="post" autocomplete="on">
  {% csrf_token %}
{% endif %}
  <div class="m-3">
    <label for="full_name" class="form-label">Enter Full name to contact</label>
    <input type="text" name="full_name" id="full_name" class="form-control" maxlength="50"
           autocomplete="name" required>
  </div>

  <div class="mb-3 d-flex justify-content-between">
    <div class="col-6 w-75">
      <label for="phone" class="form-label">Phone Number</label>
      <input type="text" inputmode="numeric" name="phone" id="phone" class="form-control" maxlength="10"
             autocomplete="tel" required>
    </div>
    <div class="col-6 w-75">
      <label for="alt_ph" class="form-label">Alternative Number</label>
      <input type="text" inputmode="numeric" name="alt_ph" id="alt_ph" class="form-control" maxlength="10"
             autocomplete="tel" required>
    </div>
  </div>

  <div class="mb-3 d-flex justify-content-between">
    <div class="col-6 w-75">
      <label for="pincode" class="form-label">Pincode</label>
      <input type="text" inputmode="numeric" name="pincode" id="pincode" class="form-control" maxlength="6"
             autocomplete="postal-code" required>
    </div>
    <div class="col-6 w-75">
      <label for="post_office" class="form-label">Post Office</label>
      <input type="text" name="post_office" id="post_office" class="form-control"
             autocomplete="address-line2" required>
    </div>
  </div>

  <div class="mb-3 d-flex justify-content-between">
    <div class="col-6 w-75">
      <label for="landmark" class="form-label">Landmark</label>
      <input type="text" name="landmark" id="landmark" class="form-control"
             autocomplete="landmark">
    </div>
    <div class="col-6 w-75">
      <label for="accessible" class="form-label">Flat, House no., Building, Company, Apartment</label>
      <input type="text" name="accessible" id="accessible" class="form-control"
             autocomplete="address-line1" required>
    </div>
  </div>

  <div class="ml-5 mr-5 form-check d-flex justify-content-between">
    <label for="location1">
      <input type="radio" id="location1" name="address_type" value="home" required/>
      Home
    </label>
    <label for="location2">
      <input type="radio" id="location2" name="address_type" value="office" required/>
      Office
    </label>
    <label for="location3">
      <input type="radio" id="location3" name="address_type" value="other" required/>
      Other
    </label>
  </div>

  <div class="mb-3 d-flex justify-content-between">
    <div class="col-4">
      <label for="area" class="form-label">Area, Street, Sector, Village</label>
      <input type="text" name="area" id="area" class="form-control"
             autocomplete="address-line2" required>
    </div>
    <div class="col-4">
      <label for="state" class="form-label">State</label>
      <input type="text" name="state" id="state" class="form-control"
             autocomplete="address-level1" required>
    </div>
    <div class="col-4">
      <label for="city" class="form-label">City</label>
      <input type="text" name="city" id="city" class="form-control"
             autocomplete="address-level2" required>
    </div>
  </div>

  <div class="m-3">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
            
            <div class="d-flex justify-content-center">
            {% if messages  %}
            {% for message in messages %}
                    {% if message.tags == 'error' %}
                    <h4 style="color: darkred;">{{message}}</h4>
                    {% elif message.tags == 'success' %}
                      <h4 style="color: green;">{{message}}</h4>
                    {% else %}
                        <h4 style="color: orange;">{{message}}</h4>
                    {% endif %}
                
            {% endfor %}
            {% endif %} 
          </div>
            </div>

          </div>
    </div>            
</section>
{% endblock section_data %}

{% block footer_area %}

{% endblock footer_area %}